body{
			border: 1px solid black;
			padding: 20px;
			width: 200px;
			margin-left: 540px;
			margin-top: 20px;
			background-image:url("image.jpg");
			border-radius: 20px;
			background-size: 100%;
		}

		input{
			padding: 7px;
		}

		a{
			border: 1px solid gray;
			text-decoration: none;
			padding: 5px;
			color:black;
			background-color: white;
			font-family: sans-serif;
		}

		h2{
			margin-top: 0px;
			margin-bottom: 2px;
			font-family: sans-serif;
			color: white;
			text-align: center;
		}

		h4{
			margin-top: 0px;
			font-family: sans-serif;
			color: white;
			text-align: center;
			}
